* {
  margin: 0px;
}

.contenedor {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../image/hot-rod-seamless-pattern-vector.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

header {
  background: #000;
  padding: 5px;
  color: white;
}

#logo {
  margin: 4px;
  max-height: 200px;
  width: 99%;
  height: auto;
  border-radius: 0;
}

#menu{
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
}
#menu #item{
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 0.5s;
}
#item:hover #icono {
  animation: rotar 1s alternate;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#menu a{
  text-decoration: none;
  color: white;
  list-style: none;
}
#menu a #item p{
  margin-bottom: 0;
  font-size: 0.7rem;
  margin-top: 8px;
}
#menu #icono{
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0;
}
#menu #item:hover {
  background: linear-gradient(rgb(0, 0, 30, .9), rgb(0, 0, 0, .9));
  height: 115%;
}
#menu a:hover{
  color: lightgrey;
}
#item span {
  position: absolute;
  background: #a2a4a3;
  transition: 0.5s;
}
#item span:nth-child(1) {
  width: 80%;
  height: 2px;
  top: 0;
  left: -100%;
}
#item span:nth-child(2) {
  width: 80%;
  height: 2px;
  bottom: 0;
  right: -100%;
}
#item span:nth-child(3) {
  width: 2px;
  height: 80%;
  bottom: -100%;
  left: 0;
}
#item span:nth-child(4) {
  width: 2px;
  height: 80%;
  top: -100%;
  right: 0;
}
#item:hover span:nth-child(1) {
  left: 0;
}
#item:hover span:nth-child(2) {
  right: 0;
}
#item:hover span:nth-child(3) {
  bottom: 0;
}
#item:hover span:nth-child(4) {
  top: 0;
}

/*Contenido*/
.padre {
  display: flex;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
}

.flex-container {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.name {
  text-align: center;
  position: relative;
  padding: 10px;
  width: 100%;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
#barra {
  width: 100%;
  height: 1px;
  background: white;
}
#pri-1 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: white;
  width: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  padding: 20px 20px;
  border-radius: 5px;
  margin: 10px;
  transition: 0.5s;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
#text {
  margin: 5px;
  color: white;
}
#c1 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  transition: 0.5s;
  width: 90%;
}
#c1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  padding: 20px 20px;
  border-radius: 5px;
  margin: 10px;
  color: lightgrey;
}
#c1 p {
  margin-top: 10px;
  font-size: 1rem;
}
#icono1 {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  min-height: 25px;
  width: 10%;
  height: auto;
  transition: 0.5s;
}
#c1:hover #icono1 {
  width: 20%;
  height: auto;
}

/*Barra de Subtitulos*/
.name::before {
  content: "";
  display: block;
  background: linear-gradient(rgb(0, 0, 84, 0.9), rgb(0, 0, 0, 0.9));
  border-radius: 100rem;
  border: 2px solid white;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  width: 105%;
  height: 110%;
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
  transition: 0.8s;
  transition-timing-function: ease-out;
}
.flex-container:hover .name::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.flex-container1:hover .name::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

/*contedio de Divisas*/
.flex-container1 {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.flex-container1 p {
  color: white;
  font-size: 3rem;
}
.flex-container1 img {
  margin: 25px;
}
.flex-container1 div {
  display: flex;
}
.metodos {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
}
.flex-container1 div:nth-of-type(1) img {
  border-radius: 0;
  border: 0;
  width: 50%;
  height: auto;
}
.flex-container1 div:nth-of-type(1) p {
  margin-top: 30px;
}
.flex-container1 div:nth-of-type(2) img {
  border-radius: 0;
  border: 0;
  width: 50%;
  height: auto;
}
.flex-container1 div:nth-of-type(2) p {
  margin-top: 50px;
}
.flex-container1 div:nth-of-type(3) img {
  border-radius: 0;
  border: 0;
  width: 50%;
  height: auto;
}
.flex-container1 div:nth-of-type(3) p {
  margin-top: 60px;
}

/*Porcentaje de pantalla*/
/*Tablet*/
@media screen and (max-width: 879px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    font-size: 0.61rem;
  }
  #menu #icono {
    width: 28px;
    height: auto;
  }
  #pri-1 p{
    text-align: center;
  }
  #pri-1 h4{
    text-align: center;
  }
  footer {
    height: auto;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    font-size: 0.54rem;
  }
  #menu #icono {
    width: 25px;
    height: auto;
  }
}

@media screen and (max-width: 719px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    font-size: 0.47rem;
  }
  #menu #icono {
    width: 22px;
    height: auto;
  }
}
@media screen and (max-width: 719px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    font-size: 0.47rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}
@media screen and (max-width: 659px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    font-size: 0.38rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
  .padre{
    width: 100%;
    flex-direction: column;
  }
  .flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .metodos div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pri-1{
    width: 95%;
  }
  #c1{
    width: 80%;
  }
  .name{
  font-size: 1.8rem;
  }
  .flex-container1 .metodos div img{
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width: 579px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.4rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}
@media screen and (max-width: 519px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    text-align: center;
    font-size: 0.4rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}

/*Movil*/
@media (max-width: 499px) {
  .contenedor {
    width: 100%;
  }
  #logo {
    width: 97%;
    height: 100px;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.35rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
  .padre{
    width: 100%;
    flex-direction: column;
  }
  .flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .metodos div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-container1 .metodos div img{
    width: 40%;
    height: auto;
  }
  #pri-1{
    width: 95%;
  }
  #c1{
    width: 80%;
  }
  .name{
    font-size: 1.7rem;
  }
  footer {
    height: auto;
  }
  footer p {
    font-size: 0.7rem;
  }
}
@media (max-width: 459px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.35rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 415px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.3rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}

img {
  border-radius: 20px;
  border: 2px solid black;
}
footer {
  background: #0c0300;
  color: white;
  text-align: center;
  padding: 25px;
}
