* {
  margin: 0px;
}

.contenedor {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../image/hot-rod-seamless-pattern-vector.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
}

header {
  background: #000;
  padding: 5px;
  position: relative;
}

#logo {
  margin: 4px;
  width: 99%;
  height: auto;
}

#menu{
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
}
#menu #item{
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 0.5s;
}
#item:hover #icono {
  animation: rotar 1s alternate;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#menu a{
  text-decoration: none;
  color: white;
  list-style: none;
}
#menu a #item p{
  margin-bottom: 0;
  font-size: 0.7rem;
  margin-top: 8px;
}
#menu #icono{
  width: 30px;
  height: 30px;
}
#menu #item:hover {
  background: linear-gradient(rgb(0, 0, 30, .9), rgb(0, 0, 0, .9));
  height: 115%;
}
#menu a:hover{
  color: lightgrey;
}
#item span {
  position: absolute;
  background: #a2a4a3;
  transition: 0.5s;
}
#item span:nth-child(1) {
  width: 80%;
  height: 2px;
  top: 0;
  left: -100%;
}
#item span:nth-child(2) {
  width: 80%;
  height: 2px;
  bottom: 0;
  right: -100%;
}
#item span:nth-child(3) {
  width: 2px;
  height: 80%;
  bottom: -100%;
  left: 0;
}
#item span:nth-child(4) {
  width: 2px;
  height: 80%;
  top: -100%;
  right: 0;
}
#item:hover span:nth-child(1) {
  left: 0;
}
#item:hover span:nth-child(2) {
  right: 0;
}
#item:hover span:nth-child(3) {
  bottom: 0;
}
#item:hover span:nth-child(4) {
  top: 0;
}

/*Contenido*/

h2 {
  text-align: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#text {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-out;
}
#pri #text {
  width: 92%;
  padding: 0;
}
.flex-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.paragrahp {
  font-size: 1.8rem;
  padding: 5px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}
.paragrahp1 {
  font-size: 1.8rem;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
}
#pri {
  text-align: justify;
  padding: 10px;
  width: 55%;
  color: white;
  transition: 0.7s;
  box-sizing: border-box;
}
#pri:hover .mapa1 {
  max-width: 600px;
  max-height: 550px;
}
#pri:hover {
  width: 80%;
}
.mapa1 {
  width: 100%;
  height: auto;
  max-height: 400px;
  max-width: 300px;
  border-radius: 20px;
  border: 2px solid black;
  transition: 0.5s;
}
#pri-1 {
  text-align: justify;
  padding: 10px;
  color: white;
  width: 45%;
  box-sizing: border-box;
  transition: 0.7s;
}
#pri-1:hover {
  width: 80%;
}
#pri-1:hover .mapa {
  max-width: 550px;
  max-height: 550px;
}
.mapa {
  width: 100%;
  border-radius: 20px;
  border: 2px solid black;
  height: auto;
  max-height: 400px;
  max-width: 300px;
  transition: 0.5s;
}
.barra {
  width: 100%;
  height: 2px;
  background: white;
}

/*Barra de los subtitulos*/
.paragrahp::before {
  content: "";
  display: block;
  background: linear-gradient(rgb(0, 0, 84, 0.9), rgb(0, 0, 0, 0.9));
  width: 110%;
  height: 110%;
  border-radius: 100rem;
  border: 2px solid white;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  position: absolute;
  top: 0px;
  left: -17px;
  z-index: -1;
  transition: 0.8s;
  transition-timing-function: ease-out;
}
#pri:hover .paragrahp::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.paragrahp1::before {
  content: "";
  display: block;
  background: linear-gradient(rgb(0, 0, 84, 0.9), rgb(0, 0, 0, 0.9));
  width: 120%;
  height: 110%;
  border-radius: 100rem;
  border: 2px solid white;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: -1;
  transition: 0.8s;
  transition-timing-function: ease-out;
}
#pri-1:hover .paragrahp1::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

/*Barra de los textos*/

#text::before {
  content: "";
  display: block;
  background: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8));
  width: 100%;
  height: 110%;
  border-radius: 10px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
  transition-timing-function: ease-out;
}
#pri:hover #text::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
#pri:hover #text {
  padding: 10px;
}
#pri-1:hover #text::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
#pri-1:hover #text {
  padding: 10px;
}

/*Porcentaje de pantalla*/
/*Tablet*/
@media screen and (max-width: 879px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    font-size: 0.61rem;
  }
  #menu #icono {
    width: 28px;
    height: auto;
  }
  #pri {
    width: 65%;
  }
  #pri:hover {
    width: 90%;
  }
  #pri-1:hover {
    width: 90%;
  }
  #pri-1 {
    width: 65%;
  }
  #pri .mapa1 {
    max-width: 250px;
    max-height: 150px;
  }
  #pri:hover .mapa1 {
    max-width: 380px;
    max-height: 280px;
  }
  #pri-1 .mapa {
    max-width: 250px;
    max-height: 150px;
  }
  #pri-1:hover .mapa {
    max-width: 380px;
    max-height: 280px;
  }
  #pri p {
    font-size: 1rem;
  }
  #pri h2 {
    font-size: 1.5rem;
  }
  #pri-1 p {
    font-size: 1rem;
  }
  #pri-1 h2 {
    font-size: 1.5rem;
  }
  footer {
    height: auto;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    font-size: 0.54rem;
  }
  #menu #icono {
    width: 25px;
    height: auto;
  }
}

@media screen and (max-width: 719px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    font-size: 0.47rem;
  }
  #menu #icono {
    width: 22px;
    height: auto;
  }
}
@media screen and (max-width: 719px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    font-size: 0.47rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}
@media screen and (max-width: 659px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    font-size: 0.38rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}

@media screen and (max-width: 579px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.4rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}
@media screen and (max-width: 519px) {
  .contenedor {
    width: 100%;
  }
  #menu p {
    text-align: center;
    font-size: 0.4rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}

/*Movil*/
@media (max-width: 499px) {
  .contenedor {
    width: 100%;
  }
  #logo {
    width: 97%;
    height: 100px;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.35rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
  #pri {
    width: 90%;
  }
  .mapa1 {
    margin-top: 15px;
    max-height: 100px;
    max-width: 200px;
  }
  .mapa1:hover {
    margin-top: 15px;
    max-height: 150px;
    max-width: 250px;
  }
  .mapa {
    margin-top: 10px;
    max-height: 100px;
    max-width: 200px;
  }
  .mapa:hover {
    margin-top: 10px;
    max-height: 150px;
    max-width: 250px;
  }
  .item {
    width: 100%;
  }
  #pri:hover {
    width: 90%;
  }
  #pri-1 {
    width: 90%;
  }
  #pri-1:hover {
    width: 90%;
  }
  #pri p {
    font-size: 1rem;
  }
  #pri h2 {
    font-size: 1.2rem;
  }
  #pri-1 p {
    font-size: 1rem;
  }
  #pri-1 h2 {
    font-size: 1.5rem;
  }
  footer {
    height: auto;
  }
  footer p {
    font-size: 0.7rem;
  }
}
@media (max-width: 459px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.35rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 415px) {
  .contenedor {
    width: 100%;
  }
  
  #menu p {
    text-align: center;
    font-size: 0.3rem;
  }
  #menu #icono {
    width: 20px;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
}

footer {
  background: #0c0300;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding: 25px;
}
